body {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
}

h2, h3 {
    font-family: Sanchez;
}

.flight-map {
    width:1200px;
    height:600px;
    background: url(/Content/earth-satellite-map-earth-satellite-map.jpg) no-repeat center;
    position:relative;
    background-size:1200px 600px;
}

.plane-indicator {
    background:url(/Content/airplane.png) no-repeat center;
    position:absolute;
    padding:9px;
    z-index:10;
}

.plane-route {
    position:absolute;
    border:1px solid red;
    transform-origin:2px 8px;
    -webkit-transform-origin:2px 8px;
    -moz-transform-origin:2px 8px;
    z-index:1;
}

.airport-indicator {
    background:url(/Content/airport_terminal.png) no-repeat center;
    position:absolute;
    padding:17px;
    z-index:10;
}

.plane-data {
    width:70%;
    font-family: 'PT Sans', sans-serif;
}

    .plane-data thead tr td {
        background-color: #3D40FF;
        color: white;
        text-align: center;
    }

    .plane-data tbody tr:hover {
        /*background-color: #72E9FF;*/
        cursor:pointer;
        background-color:#404040;
        color:white;
    }

    .plane-data tbody tr td {
        text-align: center;
    }



    .plane-data thead tr td:last-child {
        min-width: 120px;
    }
